@model ICURotationApp.Models.Denials

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Denials</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoldenHourNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoldenHourNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiefComplaint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiefComplaint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendingFacility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendingFacility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivingFacility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivingFacility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenialReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenialReason)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DenialId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
